*{  
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Verdana', arial, sans-serif;
}
a{
    text-decoration: none;  
    color: #000;
}
nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    width: 10%;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;

}
.nav-right{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    display:flex;
    justify-content: center;
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;

}
.search-box input{
    border: none;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width:30%;

}

button{
    font-size: 1.1em;
    padding:10px;
    border: none;
    border-radius:16px ;
    margin: 10px;
}

.footer{
    background-color: lightgray;
    width: 100%;
    height: 100px;
    padding: 10px 20px; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    justify-content: space-between;
}
.links-left.links-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
}
footer p{
    text-align: center;
}